<ion-header>
	<ion-toolbar>
		<ion-title>
			Foreign Exchange Calculator
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div id="container">
		<p id="subtitle">How much would you like to purchase?</p>

		<form name="form" [formGroup]="form" *ngIf="form">
			<ion-grid>
				<ion-row class="row-input">
					<ion-col size="9">
						<ion-item lines="none">
							<ion-label position="stacked">Currency I {{ isSwapped ? 'have' : 'want' }}</ion-label>
							<ion-input type="number" formControlName="first" (ionInput)="handleInput(true)"></ion-input>
						</ion-item>
					</ion-col>
					<ion-col size="3" (click)="showCurrenciesPopover($event, true)">
						<span [class]="'flag-icon flag-icon-' + currencyFrom.flag"></span>
						<span>{{ currencyFrom.code }}</span>
						<ion-icon name="chevron-down"></ion-icon>
					</ion-col>
				</ion-row>

				<ion-row class="row-extras row-info ion-padding-top">
					<ion-col size="1">
						<span class="span-dot"></span>
					</ion-col>
					<ion-col>
						<p> {{ currentRate }} Exchange rate </p>
					</ion-col>
				</ion-row>

				<ion-row class="row-extras row-swap ion-padding-bottom">
					<ion-col size="1" (click)="swap()">
						<ion-icon class="icon-swap" name="swap-vertical" color="primary" (click)="swap()"></ion-icon>
					</ion-col>
					<ion-col size="3" (click)="swap()">
						<p>Swap</p>
					</ion-col>
				</ion-row>

				<ion-row class="row-input">
					<ion-col size="9">
						<ion-item lines="none">
							<ion-label position="stacked">Currency I {{ isSwapped ? 'want' : 'have' }}</ion-label>
							<ion-input type="number" formControlName="second" (ionInput)="handleInput(false)">
							</ion-input>
						</ion-item>
					</ion-col>
					<ion-col size="3" (click)="showCurrenciesPopover($event, false)">
						<span [class]="'flag-icon flag-icon-' + currencyTo.flag"></span>
						<span>{{ currencyTo.code }}</span>
						<ion-icon name="chevron-down"></ion-icon>
					</ion-col>
				</ion-row>
			</ion-grid>

			<div>
				<ion-button color="tertiary" (click)="reset()">Reset</ion-button>
				<ion-button color="primary" [disabled]="!form.controls.first.value && !form.controls.second.value"
					(click)="calculate()">
					Calculate
				</ion-button>
			</div>
		</form>
	</div>
</ion-content>